/* RBC Display Font - Proprietary heading font */
@font-face {
  font-family: RBCDisplay;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/RBCDisplay-Light.woff') format('woff');
}

@font-face {
  font-family: RBCDisplay;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/RBCDisplay-Regular.woff') format('woff');
}

@font-face {
  font-family: RBCDisplay;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/RBCDisplay-Medium.woff') format('woff');
}

@font-face {
  font-family: RBCDisplay;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/RBCDisplay-Bold.woff') format('woff');
}

/* Roboto Font - Body text font */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Roboto-Medium.woff') format('woff');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Roboto-Bold.woff') format('woff');
}
